<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dn.RestaurantMapper">

  <insert id="insertRestaurant" parameterType="com.example.dn.Restaurant">
    INSERT INTO restaurant (
      sequence,
      open_service_name,
      open_service_id,
      municipality_code,
      management_number,
      permission_date,
      cancellation_date,
      business_status_code,
      business_status_name,
      detailed_business_status_code,
      detailed_business_status_name,
      closure_date,
      suspension_start_date,
      suspension_end_date,
      reopen_date,
      contact_number,
      site_area,
      postal_code,
      full_address,
      road_name_address,
      road_name_postal_code,
      business_name,
      last_modified_date,
      data_update_type,
      data_update_date,
      business_category,
      coordinate_x,
      coordinate_y,
      sanitation_type,
      number_of_male_employees,
      number_of_female_employees,
      business_area_type,
      grade,
      water_supply_type,
      total_employees,
      head_office_employees,
      factory_office_employees,
      factory_sales_employees,
      factory_production_employees,
      building_ownership_type,
      security_deposit,
      monthly_rent,
      is_multi_use_facility,
      total_facility_size,
      traditional_business_designation_number,
      main_dish_of_traditional_business,
      homepage
    ) VALUES (
               #{sequence},
               #{openServiceName},
               #{openServiceId},
               #{municipalityCode},
               #{managementNumber},
               #{permissionDate},
               #{cancellationDate},
               #{businessStatusCode},
               #{businessStatusName},
               #{detailedBusinessStatusCode},
               #{detailedBusinessStatusName},
               #{closureDate},
               #{suspensionStartDate},
               #{suspensionEndDate},
               #{reopenDate},
               #{contactNumber},
               #{siteArea},
               #{postalCode},
               #{fullAddress},
               #{roadNameAddress},
               #{roadNamePostalCode},
               #{businessName},
               #{lastModifiedDate},
               #{dataUpdateType},
               #{dataUpdateDate},
               #{businessCategory},
               #{coordinateX},
               #{coordinateY},
               #{sanitationType},
               #{numberOfMaleEmployees},
               #{numberOfFemaleEmployees},
               #{businessAreaType},
               #{grade},
               #{waterSupplyType},
               #{totalEmployees},
               #{headOfficeEmployees},
               #{factoryOfficeEmployees},
               #{factorySalesEmployees},
               #{factoryProductionEmployees},
               #{buildingOwnershipType},
               #{securityDeposit},
               #{monthlyRent},
               #{isMultiUseFacility},
               #{totalFacilitySize},
               #{traditionalBusinessDesignationNumber},
               #{mainDishOfTraditionalBusiness},
               #{homepage}
             )
  </insert>
</mapper>
